<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @diretoriomunicipal.content %>
</p>


<%= link_to 'Edit', edit_diretoriomunicipal_path(@diretoriomunicipal) %> |
<%= link_to 'Back', diretoriomunicipals_path %>
