    <footer>
    	<div class="footer_wrap">
          <div class="footer-container">
            <div class="one-fourth first">
              <h3>Artigos <span>Data</span></h3>
              <ul class="archives">
                <li><a href="#">May 2013 (100)</a></li>
                <li><a href="#">April 2013 (120)</a></li>
                <li><a href="#">March 2013 (152)</a></li>
                <li><a href="#">February 2013 (100)</a></li>
                <li><a href="#">January 2013 (117)</a></li>
                <li><a href="#">December 2012 (200)</a></li>
                <li><a href="#">November 2012 (180)</a></li>
                <li><a href="#">October 2012 (145)</a></li>
              </ul>
            </div>
            <div class="one-fourth">
              <h3>Recentes do <span>Blog</span></h3>
              <div class="r-blog">
                <div class="third"> 
                    <img src="images/blog/thumb-1.jpg" alt="" /> 
                    <small><a href="blog.html">August 28, 2013</a></small> 
                    <h4><a href="#">Sample Popular Post</a></h4>
                    <p>Aenean commodo ligula eget dolor</p>
                </div>
                <div class="third"> 
                    <img src="images/blog/thumb-2.jpg" alt="" /> 
                    <small><a href="blog.html">August 28, 2013</a></small> 
                    <h4><a href="#">Sample Popular Post</a></h4>
                    <p>Aenean commodo ligula eget dolor</p>
                </div>
                <div class="third"> 
                    <img src="images/blog/thumb-2.jpg" alt="" /> 
                    <small><a href="blog.html">August 28, 2013</a></small> 
                    <h4><a href="#">Sample Popular Post</a></h4>
                    <p>Aenean commodo ligula eget dolor</p>
                </div>
              </div>
            </div>
            <div class="one-fourth">
              <h3>Twitter <span>Últimas</span></h3>
              <a class="twitter-timeline" href="https://twitter.com/MS_PDT" data-widget-id="380041434281177088">Tweets by @MS_PDT</a>
            </div>
            <div class="one-fourth">
              <h3>Envie uma mensagem para o <span style="color:red;">PDT</span></h3>
              <form action="#" class="footer-contactform">
                <p>
                  <input type="text" name="name" value="Seu nome" onBlur="if (this.value == ''){this.value = 'Your Name'; }" onFocus="if (this.value == 'Your Name') {this.value = '';}" >
                  <input type="text" name="email" value="Seu email" onBlur="if (this.value == ''){this.value = 'Your Email'; }" onFocus="if (this.value == 'Your Email') {this.value = '';}">
                </p>
                <p>
                  <textarea name="message" rows="5" onBlur="if (this.value == ''){this.value = 'Your Message'; }" onFocus="if (this.value == 'Your Message') {this.value = '';}">Sua Mensagem</textarea>
                </p>
                <p>
                  <input type="submit" name="submit" class="submit" value="Enviar">
                </p>
              </form>
            </div>
          </div><!--end footer-container-->
          </div><!--end footer_wrap-->
          <div class="copy-right">
            <div class="copy-right-wrap">
                <p class="copyright">&copy; 2013 <a href="index.html"></a>, Todos os direitos reservados. <a href="louiejiemahusay_gmail.html"></a></p>
                <ul class="social social-right">
                    <li><a href="https://www.facebook.com/pdtms?fref=ts" class="tip facebook" title="Facebook"><img src="images/social-icon-facebook.png" alt="Facebook"></a></li>
                    <li><a href="#" class="tip skype" title="Skype"><img src="images/social-icon-skype.png" alt="Skype"></a></li>
                    <li><a href="#" class="tip twitter" title="Twitter"><img src="images/social-icon-twitter.png" alt="Twitter"></a></li>
                    <li><a href="#" class="tip rss" title="RSS"><img src="images/social-icon-rss.png" alt="RSS"></a></li>
                  </ul>
            </div>
          </div>
    </footer>