	  <header>
      <div class="header_wrap">
        <div class="header_container">
          <h1 class="logo"><a href=""></a></h1>
          <ul class="social social-right social-circle">
            <li><a href="https://www.facebook.com/pdtms?fref=ts" class="tip facebook" title="Facebook"><img src="images/social-icon-facebook.png" alt="Facebook"></a></li>
            <li><a href="#" class="tip skype" title="Skype"><img src="images/social-icon-skype.png" alt="Skype"></a></li>
            <li><a href="#" class="tip twitter" title="Twitter"><img src="images/social-icon-twitter.png" alt="Twitter"></a></li>
            <li><a href="#" class="tip rss" title="RSS"><img src="images/social-icon-rss.png" alt="RSS"></a></li>
          </ul>
        </div>
        <!--header_container--> 
      </div>
      <!--header_wrap-->
      <div class="main-menu">
        <div class="header_wrap">
          <div class="header_container">
            <nav id="smoothmenu1" class="ddsmoothmenu">
              <ul>
                <li><a href="index.html" class="current">PDT</a>
                  <ul>
                    <li class="no-border"><a href="index.html">História</a></li>
                    <li><a href="index2.html">Líderes</a></li>
                    <li><a href="index3.html">Executiva</a></li>
                    <li><a href="index4.html">Diretório Estadual</a></li>
                    <li><a href="index5.html">Diretório Municipal</a></li>
                  </ul>
                </li>
                <li><a href="#">Nossas Bandeiras</a>
                  <ul>
                    <li class="no-border"><a href="about.html">Trabalhismo</a></li>
                    <li><a href="services.html">Educação</a></li>
                    <li><a href="faq.html">Soberania</a></li>
                    <li><a href="testimony.html">Direitos Humanos</a></li>
                    <li><a href="pricing.html">Previdência Social</a></li>
                  </ul>
                </li>
                <li><a href="blog.html">Movimentos</a>
                  <ul>
                    <li class="no-border"><a href="blog2.html">Blog Style2</a></li>
                    <li><a href="blog3.html">Blog Style3</a></li>
                    <li><a href="single.html">Single</a></li>
                  </ul>
                </li>
                <li><a href="portfolio.html">PDT nos Poderes</a>
                  <ul>
                    <li class="no-border"><a href="portfolio.html">Portfolio Filterable</a></li>
                    <li><a href="portfolio-with-text.html">Portfolio w/ Text</a></li>
                    <li><a href="portfolio2.html">Portfolio 2 Column</a></li>
                    <li><a href="portfolio3.html">Portfolio 3 Column</a></li>
                    <li><a href="portfolio4.html">Portfolio 4 Column</a></li>
                    <li><a href="portfolio-sidebar.html">Portfolio with Sidebar</a></li>
                    <li><a href="portfolio-single.html">Portfolio Single</a></li>
                  </ul>
                </li>
                
                <li><a href="product.html">Agenda</a></li>
                <li><a href="contact.html">Contato</a></li>
              </ul>
            </nav>
            <div class="searchbar">    
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Faça sua busca em nossa página..." type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div><!--search bar-->
          </div>
          <!--header_container--> 
        </div>
        <!--header_wrap--> 
      </div>
      <!--main-menu--> 
    </header>