<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @previdenciasocial.content %>
</p>


<%= link_to 'Edit', edit_previdenciasocial_path(@previdenciasocial) %> |
<%= link_to 'Back', previdenciasocials_path %>
