<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @diretorioestadual.content %>
</p>


<%= link_to 'Edit', edit_diretorioestadual_path(@diretorioestadual) %> |
<%= link_to 'Back', diretorioestaduals_path %>
